*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}


svg {
    display: block;
    margin: auto;
}

@media screen and (min-width: 850px){
svg {
    height:90vmin;
    width:120vmin;

}
}
